@model AileLeve.Models.Compte;


@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String chemin = String.Format("/profil/modifier/{0}", @Model.Profil.Id);
    String chemin2 = String.Format("/cours/ajouter");
    String chemin3 = String.Format("/cours/supprimer/{0}", @Model.Profil.Id);
    @*String chemin4 = String.Format("/cours/modifier/{0}", @Model.Profil.Id);*@
}

<div class="container">
    <div class="card w-25">
        <img class="card-img-top w-25" src="@Model.Profil.Image" alt="image profil">
        <div class="card-body">
            <h5 class="card-title">@Model.Utilisateur.Prenom @Model.Utilisateur.Nom</h5>
            <p class="card-text">@Model.Profil.Email</p>
            <p class="card-text">@Model.Profil.Telephone</p>
            <p class="card-text">@Model.Identifiant</p>
            @if (@Model.Utilisateur.Adresse != null)
            {
                     <p class="card-text">@Model.Utilisateur.Adresse.NumeroRue
                    @Model.Utilisateur.Adresse.Rue
                </p>
                <p class="card-text">@Model.Utilisateur.Adresse.CodePostal
                    @Model.Utilisateur.Adresse.Ville</p>
            }


            <div class="row h-100 justify-content-center align-items-center mt-5">
                <a href=@chemin2 class="btn">Ajouter un cours</a>
            </div>
            <div class="row h-100 justify-content-center align-items-center mt-5">
                <a href=@chemin3 class="btn">Supprimer un cours</a>
            </div>
           @* <div class="row h-100 justify-content-center align-items-center mt-5">
            <a href=@chemin4 class="btn">Modifier un cours</a>*@
            </div>

            <div class="row h-100 justify-content-center align-items-center mt-5">
                <a href=@chemin class="btn">Modifier le profil</a>
            </div>
          
           
        </div>
        <input type="hidden" name="Utilisateur.Id" value="@Model.Utilisateur.Id" />
        <input type="hidden" name="Compte.Id" value="@Model.Id" />
        <input type="hidden" name="Profil.Id" value="@Model.Profil.Id" />
        <input type="hidden" name="Profil.Image" value="@Model.Profil.Image" />
        <input type="hidden" name="Compte.UtilisateurId" value="@Model.UtilisateurId" />
        <input type="hidden" name="Compte.ProfilId" value="@Model.ProfilId" />
        @if (@Model.Utilisateur.Adresse != null)
        {
                <input type="hidden" name="Utilisateur.AdresseId" value="@Model.Utilisateur.AdresseId" />
                <input type="hidden" name="Adresse.Id" value="@Model.Utilisateur.Adresse.Id" />
        }
        

    </div>
</div>

<div class="container">
    <img src="~/img/Aile'lèveV3.png" class="img-fluid" alt="Logo image">
</div>