@model AileLeve.ViewModels.ComptesViewModel;
@{
    ViewBag.Title = "Liste des utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String valeurClass = "";

}

<div id="doc" class="container">
    <h1 class="text-center mb-4">Liste des utilisateurs</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Mail</th>
                <th scope="col">Statut</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Comptes)
            {

                @if (item.Role != "Admin")
                {
                    <tr>
                        <td>@item.Utilisateur.Nom</td>
                        <td>@item.Utilisateur.Prenom</td>
                        <td>@item.Profil.Email</td>
                        <td> @if (item.Role == "Recrutement")
                            {
                                String cheminValider = String.Format("/Admin/Valider/{0}", @item.Id);
                                <a type="button" href=@cheminValider class="fas fa-question text-danger p-2"></a>
                            }
                            @if (item.Role == "Eleve")
                            {
                                <i class="fas fa-child text-success p-2"></i>
                            }
                            @if (item.Role == "Enseignant")
                            {
                                <i class="fas fa-school text-success p-2"></i>
                            }
                        </td>


                        <td>
                            @{
                                String cheminModifier = String.Format("/Profil/Modifier/{0}", @item.Id);
                            }
                            <a type="button" href=@cheminModifier class="fas fa-pen text-info p-2"></a>

                            @{
                                String cheminSuspendre = String.Format("/Admin/Suspendre/{0}", @item.Id);
                            }

                            @{
                                valeurClass = item.StatusActif ? "fas fa-pause" : "fas fa-play";
                            }
                            <a type="button" href=@cheminSuspendre class="text-warning p-2 @valeurClass"></a>

                            @{
                                String cheminSupprimer = String.Format("/Admin/Supprimer/{0}", @item.Id);
                            }
                            <a type="button" href=@cheminSupprimer class="fas fa-trash text-danger p-2"></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<script src="/Scripts/jsPdf/jspdf.umd.js"></script>
<script src="/Scripts/html2canvas.min.js"></script>
<script src="/Scripts/genererPdf.js"></script>

