@model AileLeve.ViewModels.ComptesViewModel;
@{
    ViewBag.Title = "Liste des utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String valeurClass = "";

}


<h1 class="text-center mb-2">Liste des utilisateurs</h1>

<div class="input-group md-form form-sm form-2 pl-0 mb-2">
    <input class="form-control my-0 py-1 lime-border" onkeyup="filtreRecherche();" id="inputRecherche" type="text"
        placeholder="Recherche par nom" aria-label="Search">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-text1">
            <i class="fas fa-search text-grey" aria-hidden="true"></i>
        </span>
    </div>
</div>

<table id="sortTable" class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th class="th-sm" scope="col">
                <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),0,this);"></i>
                Nom
            </th>
            <th class="th-sm" scope="col">
                <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),1,this);"></i>
                Prénom
            </th>
            <th class="th-sm" scope="col">
                <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),2,this);"></i>
                Mail
            </th>

            <th class="th-sm" scope="col">
                <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),3,this);"></i>
                Statut
            </th>
            <th class="th-sm" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Comptes)
        {

            @if (item.Role != "Admin")
            {
                <tr>
                    <td>@item.Utilisateur.Nom</td>
                    <td>@item.Utilisateur.Prenom</td>
                    <td>@item.Profil.Email</td>
                    <td>
                        @if (item.Role == "Recrutement")
                        {
                            String cheminValider = String.Format("/Admin/Valider/{0}", @item.Id);
                            <a type="button" href=@cheminValider class="fas fa-question text-danger p-2" data-toggle="tooltip"
                    data-placement="bottom" title="Enseignant en attente d'être recruté"></a>

                        }
                        @if (item.Role == "Eleve")
                        {
                            <a class="fas fa-child text-success p-2" data-toggle="tooltip" data-placement="bottom"
                    title="Elève"></a>

                        }
                        @if (item.Role == "Enseignant")
                        {
                            <a class="fas fa-school text-success p-2" data-toggle="tooltip" data-placement="bottom"
                    title="Enseignant"></a>
                        }
                    </td>

                    <td>
                        @{
                            String cheminModifier = String.Format("/Profil/Modifier/{0}", @item.Id);
                        }
                        <a type="button" href=@cheminModifier class="fas fa-pen text-info p-2" data-toggle="tooltip"
                    data-placement="bottom" title="Modifier le compte"></a>

                        @{
                            String cheminSuspendre = String.Format("/Admin/Suspendre/{0}", @item.Id);
                        }

                        @{
                            valeurClass = item.StatusActif ? "fas fa-pause" : "fas fa-play";
                        }
                        <a type="button" href=@cheminSuspendre class="text-warning p-2 @valeurClass" data-toggle="tooltip"
                    data-placement="bottom" title="Suspendre le compte"></a>
                        @{
                            String cheminSupprimer = String.Format("/Admin/Supprimer/{0}", @item.Id);
                        }

                        <a type="button" href=@cheminSupprimer class="fas fa-trash text-danger p-2" data-toggle="tooltip"
                    data-placement="bottom" title="Supprimer le compte"></a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script src="/Scripts/sortTable.js"></script>
<script src="/Scripts/iconeAscDesc_show-hide.js"></script>
<script src="/Scripts/filtreRecherche.js"></script>