@model AileLeve.ViewModels.ComptesViewModel;
@{
    ViewBag.Title = "Liste des utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    String valeurClass=""; 
    
}
<h1 class="text-center mb-4">Liste des utilisateurs</h1>
<i class="fa-light fa-books"></i>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Mail</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Comptes)
        {
            <tr>                
                <td>@item.Utilisateur.Nom</td>
                <td>@item.Utilisateur.Prenom</td>
                <td>@item.Profil.Email</td>
                <td>
                    @{String cheminModifier = String.Format("/Profil/Modifier/{0}", @item.Id);}
                    <a type="button" href=@cheminModifier class="fas fa-pen text-info p-2"></a>
                    
                    @{String cheminSuspendre = String.Format("/Admin/Suspendre/{0}", @item.Id);}

                    @{valeurClass = item.StatusActif ? "fas fa-pause" : "fas fa-play";}
                    <a type="button" href=@cheminSuspendre class="text-warning p-2 @valeurClass"></a>
                    
                    @{String cheminSupprimer = String.Format("/Admin/Supprimer/{0}", @item.Id);}
                    <a type="button" href=@cheminSupprimer class="fas fa-trash text-danger p-2"></a>
                </td>
            </tr>
        }
    </tbody>
</table>