@model AileLeve.ViewModels.CoursViewModel;
@{
    ViewBag.Title = "Modifier le cours";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1 class="text-center mb-4">Modifier un cours</h1>

<div class="container">
    <form action="/cours/modifier/{0}" , @Model.Cours.Id method="post">
        @*<input type="hidden" name="cours.Id" value="@Model.Cours.Id" />
        <input type="hidden" name="cours.Matiere.Id" value="@Model.Cours.Matiere.Id" />
        <input type="hidden" name="cours.Niveau.Id" value="@Model.Cours.Niveau.Id" />*@

      

        <label for="matiere" >Cours précédent : </label>
        <div>
            @Model.Cours.TypeCours

        </div>

        <fieldset>
            <h9>Veuillez choisir un nouveau type de cours : </h9>
            <div>

                <input type="radio" id="onlineSynchrone" name="Cours.TypeCours" value="synchrone">

                <label for="onlineSynchrone">Cours synchrone </label>

            </div>

            <div>

                <input type="radio" id="onlineAsynchrone" name="Cours.TypeCours" value="asynchrone">

                <label for="onlineAsynchrone">Cours asynchrone</label>
            </div>

            <div>

                <input type="radio" id="domicile" name="Cours.TypeCours" value="domicile">

                <label for="domicile">Cours à domicile</label>
            </div>
        </fieldset>
        <br />

        <table>
            <tr>
                <td>
                    <label for="matiere">Matière précédente : </label>
                </td>
                <td>

                    @switch (@Model.Cours.Matiere.Nom)
                    {
                        case "Français":
                            <option value="francais" selected>Français</option>
                            break;

                        case "Mathématiques":
                            <option value="mathématiques" selected>Mathématiques</option>
                            break;
                        case "Géographie":
                            <option value="géographie" selected>Géographie</option>
                            break;
                        case "Philosophie":
                            <option value="philosophie" selected>Philosophie</option>
                            break;
                    }
                </td>
            </tr>

            <tr>
                <td>
                    <label for="matiere">Nouvelle matière : </label>
                </td>
                <td>
                    <select name="Cours.MatiereId" id="cours.Matiere.Nom" value="@Model.Cours.Matiere.Nom">
                        <option value="2">Français</option>
                        <option value="1">Mathématiques</option>
                        <option value="11">Philosophie</option>
                        <option value="4">Espagnol</option>
                    </select>
                </td>
            </tr>
        </table>


        <table>
            <tr>
                <td>

                    <label for="niveau">Niveau précédent : </label>
                </td>
                <td>
                    @switch (@Model.Cours.Niveau.Nom)
                    {
                        case "CP":
                            <option value="cp" selected>CP</option>
                            break;

                        case "6ème":
                            <option value="6ème" selected>6ème</option>
                            break;
                        case "CE1":
                            <option value="CE1" selected>CE1</option>
                            break;
                        case "premiere":
                            <option value="premiere" selected>Premiere</option>
                            break;
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <label for="matiere">Nouveau niveau : </label>
                </td>
                <td>
                    <select name="cours.NiveauId" id="cours.Niveau.Nom" value=" @Model.Cours.Niveau.Nom">
                        <option value="7">5ème</option>
                        <option value="8">4ème</option>
                        <option value="9">3ème</option>
                        <option value="10">Seconde</option>
                    </select>
                </td>
            </tr>
        </table>
</div>
@Html.HiddenFor(m=>m.Cours.MatiereId)
@Html.HiddenFor(m=>m.Cours.NiveauId)
@Html.HiddenFor(m=>m.Cours.EnseignantId)
@Html.HiddenFor(m=>m.Cours.Id)
<div class="row h-100 justify-content-center align-items-center mt-4">
    <button type="submit" class="btn">Enregistrer les modifications</button>
</div>

    </form>

