@model AileLeve.ViewModels.CompteViewModel
@{
    ViewBag.Title = "Modifier le mot de passe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String chemin = String.Format("/profil/modifier/{0}", @Model.Compte.Profil.Id);
}

<h1 class="text-center mb-4">Modifier le mot de passe</h1>

<div class="container">
    <form action="/Compte/ModifierPassword" method="post">
        <input type="hidden" name="Compte.Id" value="@Model.Compte.Id" />
        <input type="hidden" name="Compte.UtilisateurId" value="@Model.Compte.UtilisateurId" />
        <input type="hidden" name="Compte.ProfilId" value="@Model.Compte.ProfilId" />
        <input type="hidden" name="Compte.Identifiant" value="@Model.Compte.Identifiant" />

      

        <div class="row h-100 justify-content-center align-items-center form-group">
            <label for="password" class="col-3">Mot de passe actuel</label>
            <div class="col-6 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                <input type="password" class="form-control" name="Compte.Password" id="PasswordForm" placeholder="Mot de passe actuel" required>
                <input type="hidden" class="form-control" name="Compte.Password" value="@Model.Compte.Password" id="PasswordForm" placeholder="Mot de passe">
                 <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide();">
                 <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                    </span>
                </div>
            </div>

        </div>
        <div class="row h-100 justify-content-center align-items-center form-group">
            <label for="mdp" class="col-3">Nouveau mot de passe</label>
            <div class="col-6">
                <input type="text" class="form-control" name="mdp" id="mdp" placeholder="Nouveau mot de passe">
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center form-group">
            <label for="conf-mdp" class="col-3">Confirmation du mot de passe</label>
            <div class="col-6">
                <input type="text" class="form-control" name="mdpConfirmation" id="mdpConfirmation" placeholder="Nouveau mot de passe">
            </div>
        </div>

        <div class="row h-100 justify-content-center align-items-center mt-5 form-group">
            <button type="submit" class="btn mr-5">Enregistrer</button>
            <a href=@chemin type="submit" class="btn mr-5">Annuler</a>
           
        </div>

    </form>

</div>
          
<script src="/Scripts/password_show_hide.js"></script>
