@model AileLeve.ViewModels.CompteViewModel
@{
    ViewBag.Title = "Modifier le mot de passe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Modifier le mot de passe</h1>
<div class="container">
    <form action="/Compte/ModifierPassword" method="post">
        <input type="hidden" name="Compte.Id" value="@Model.Compte.Id" />
        <input type="hidden" name="Compte.UtilisateurId" value="@Model.Compte.UtilisateurId" />
        <input type="hidden" name="Compte.ProfilId" value="@Model.Compte.ProfilId" />
        <input type="hidden" name="Compte.Identifiant" value="@Model.Compte.Identifiant" />
        <div class="form-group">
            <label for="password">Mot de passe actuel</label>
            <input type="password" class="form-control" name="Compte.Password" id="PasswordForm" placeholder="Mot de passe actuel" required>
            <input type="hidden" class="form-control" name="Compte.Password" value="@Model.Compte.Password" id="PasswordForm" placeholder="Mot de passe">
        </div>
        <div class="form-group">
            <label for="mdp">Nouveau mot de passe</label>
            <input type="text" class="form-control" name="mdp" id="mdp" placeholder="Nouveau mot de passe">
        </div>
        <div class="form-group">
            <label for="conf-mdp">Confirmation de mot de passe</label>
            <input type="text" class="form-control" name="mdpConfirmation" id="mdpConfirmation" placeholder="Nouveau mot de passe">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="reset" class="btn btn-primary">Annuler</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </form>
</div>