@model AileLeve.ViewModels.CompteViewModel;

@{
    ViewBag.Title = "Emploi du temps enseignant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="doc" class="container">


@Html.HiddenFor(m=>m.Eleve.Id)
@Html.HiddenFor(m=>m.Cours.MatiereId)
@Html.HiddenFor(m=>m.Cours.NiveauId)
@Html.HiddenFor(m=>m.Cours.EnseignantId)
@Html.HiddenFor(m=>m.Cours.Id)


<h1 class="text-center mb-4">Les propositions de cours</h1>

<table id="sortTable" class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <div>
                    <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),0,this);"></i>
                    Date
                </div>
            </th>
            <th scope="col">
                <div>
                    <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),1,this);"></i>
                    Enseignant
                </div>
            </th>
            <th scope="col">
                <div>
                    <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),2,this);"></i>
                    Type de cours
                </div>
            </th>
            <th scope="col">
                 <div>
                    <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),3,this);"></i>
                    Matière
                </div>
            </th>
            <th scope="col">
                <div>
                    <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),4,this);"></i>
                    Niveau
                </div>
            </th>
             @if (User.IsInRole("Admin") || User.IsInRole("Enseignant")){
            <th scope="col">
                 <div>
                    <i class="fas fa-sort-up" id="iconeTri"
                    onclick="sortTable(document.getElementById('sortTable'),5,this);"></i>
                   Disponible
                </div>
            </th>
            <th scope="col"></th>
             }

        </tr>
    </thead>
    <tbody>

    @if (User.IsInRole("Admin") || User.IsInRole("Enseignant")){
        @foreach (var item in @Model.ToutesLesPropositionsDeCours)
        {
            <tr>                
                <td>@item.EmploiDuTempsEnseignant.DateTime</td>
                <td>@item.Enseignant.Utilisateur.Nom @item.Enseignant.Utilisateur.Prenom</td>
                <td>@Html.DisplayFor(c => item.Cours.TypeCours)</td>
                <td>@item.Cours.Matiere.Nom</td>
                <td>@item.Cours.Niveau.Nom</td>
                <td>
                    @if (item.EmploiDuTempsEnseignant.Disponible == true)
                    {
                        <i>oui</i>
                    }
                    else
                    {
                        <i>non</i>
                    }
                </td>
                        <td>
                        @if (User.IsInRole("Admin"))
                        {
                            String cheminSupprimer = String.Format("/Enseignant/SupprimerCoursAdmin/{0}", item.Cours.Id);
                            <a type="button" href=@cheminSupprimer class="fas fa-trash text-danger p-2"></a>
                        }
                        </td>
            </tr>
        }
    }
     @if (User.IsInRole("Eleve")){
        
        @foreach (var item in @Model.ToutesLesPropositionsDeCours)
        {
            @if (item.EmploiDuTempsEnseignant.Disponible == true){
            <tr>                
                <td>@item.EmploiDuTempsEnseignant.DateTime</td>
                <td>@item.Enseignant.Utilisateur.Nom @item.Enseignant.Utilisateur.Prenom</td>
                <td>@Html.DisplayFor(c => item.Cours.TypeCours)</td>
                <td>@item.Cours.Matiere.Nom</td>
                <td>@item.Cours.Niveau.Nom</td>
                <td>
                                @if (User.IsInRole("Eleve"))
                                {
                                    String cheminAjouter = String.Format("/Enseignant/ReserverCours/{0}", item.Cours.Id);
                                    <a type="button" href=@cheminAjouter class="fas fa-solid fa-plus text-success p-2"></a>
                                }

                                
                </td>
            </tr>
        }
        }
    }


    </tbody>

</table>
</div>

<script src="/Scripts/sortTable.js"></script>
<script src="/Scripts/iconeAscDesc_show-hide.js"></script>